table {
 border-collapse: collapse;

 
}
tr { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    border: 1px solid black; 
    border-radius: 10px;
}
th, td { 
    padding: 20px 30px ;
}